.checkbox-inline {
  margin-right: 20px;
  color: initial !important;
  height: 30px;
  margin-left: 0px !important;
}

.legend-top {
  padding-bottom: 5px;
  border-bottom: 1px solid #cccccc;

  span {
    font-size: 25px;
  }
}

.legend-sub-top {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cccccc;

  .form-group {
    display: inline-block;
  }
}

.books {
  padding-top: 15px;
  padding-bottom: 15px;
}

.user-control {
  min-width: 200px;

  .dropdown-menu {
    min-width: 200px;

    .logout, .login{
      i{
        margin-right: 5px;
      }
    }
  }
}