
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

$font-family-sans-serif: 'Lato', sans-serif;

/* Font Awsewome */
$fa-font-path:"../fonts/font-awesome";
@import "node_modules/font-awesome/scss/font-awesome";




// Variables
@import "theme/_variables.scss";



// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


@import "theme/_bootswatch.scss";


/*UTIlS*/
@import "utils.scss";

/*PAGES*/
@import "books/index.scss";

