.fl {
  float: left;
}

.fr {
  float: right;
}

.tar {
  text-align: right;
}

.w100p {
  width: 100%;
}

.no-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;


}

.inline-block{
  display: inline-block;
}
.margin-right-10
{
  margin-right: 10px;
}

.margin-left-5
{
  margin-left: 5px;
}

.margin-15
{
  margin-right: 15px;
  margin-left: 15px;
}